crud.iml
.idea/.gitignore
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/webContexts.xml
src/main/resources/hibernate.properties
target/crud.war
target/classes/hibernate.cfg.xml
target/classes/hibernate.properties
target/classes/log4j2.xml
target/classes/struts.xml
target/classes/domain/Boat.class
target/classes/domain/Car.class
target/classes/domain/Dealership.class
target/classes/domain/Plane.class
target/classes/domain/Tank.class
target/classes/domain/Vehicle.class
target/crud/content/navbar/navbar.jsp
target/crud/content/pages/about.jsp
target/crud/content/pages/home.jsp
target/crud/content/pages/vehicles.jsp
target/crud/content/pictures/MainLogo.png
target/crud/css/home.css
target/crud/css/navbar.css
target/crud/META-INF/MANIFEST.MF
target/crud/WEB-INF/web.xml
target/crud/WEB-INF/classes/hibernate.cfg.xml
target/crud/WEB-INF/classes/hibernate.properties
target/crud/WEB-INF/classes/log4j2.xml
target/crud/WEB-INF/classes/struts.xml
target/crud/WEB-INF/classes/domain/Boat.class
target/crud/WEB-INF/classes/domain/Car.class
target/crud/WEB-INF/classes/domain/Dealership.class
target/crud/WEB-INF/classes/domain/Plane.class
target/crud/WEB-INF/classes/domain/Tank.class
target/crud/WEB-INF/classes/domain/Vehicle.class
target/crud/WEB-INF/lib/angus-activation-2.0.0.jar
target/crud/WEB-INF/lib/antlr4-runtime-4.10.1.jar
target/crud/WEB-INF/lib/byte-buddy-1.14.7.jar
target/crud/WEB-INF/lib/classmate-1.5.1.jar
target/crud/WEB-INF/lib/commons-fileupload-1.5.jar
target/crud/WEB-INF/lib/commons-io-2.13.0.jar
target/crud/WEB-INF/lib/commons-lang3-3.13.0.jar
target/crud/WEB-INF/lib/commons-text-1.10.0.jar
target/crud/WEB-INF/lib/freemarker-2.3.32.jar
target/crud/WEB-INF/lib/hibernate-commons-annotations-6.0.6.Final.jar
target/crud/WEB-INF/lib/hibernate-core-6.3.0.Final.jar
target/crud/WEB-INF/lib/istack-commons-runtime-4.1.1.jar
target/crud/WEB-INF/lib/jakarta.activation-api-2.1.0.jar
target/crud/WEB-INF/lib/jakarta.inject-api-2.0.1.jar
target/crud/WEB-INF/lib/jakarta.persistence-api-3.1.0.jar
target/crud/WEB-INF/lib/jakarta.transaction-api-2.0.1.jar
target/crud/WEB-INF/lib/jakarta.xml.bind-api-4.0.0.jar
target/crud/WEB-INF/lib/jandex-3.1.2.jar
target/crud/WEB-INF/lib/javassist-3.29.0-GA.jar
target/crud/WEB-INF/lib/javax.servlet-api-4.0.1.jar
target/crud/WEB-INF/lib/jaxb-core-4.0.2.jar
target/crud/WEB-INF/lib/jaxb-runtime-4.0.2.jar
target/crud/WEB-INF/lib/jboss-logging-3.5.0.Final.jar
target/crud/WEB-INF/lib/jstl-1.2.jar
target/crud/WEB-INF/lib/log4j-api-2.20.0.jar
target/crud/WEB-INF/lib/log4j-core-2.20.0.jar
target/crud/WEB-INF/lib/mysql-connector-j-8.1.0.jar
target/crud/WEB-INF/lib/ognl-3.3.4.jar
target/crud/WEB-INF/lib/protobuf-java-3.21.9.jar
target/crud/WEB-INF/lib/struts2-core-6.3.0.1.jar
target/crud/WEB-INF/lib/txw2-4.0.2.jar
target/test-classes/AddVehicleTest.class
src/main/java/persistence/dao/DealershipDAO.java
src/main/java/persistence/interfaces/IDealershipDAO.java
src/main/java/persistence/utils/HibernateSessionManager.java
target/classes/Starter.class
target/classes/persistence/dao/BoatDAO.class
target/classes/persistence/dao/CarDAO.class
target/classes/persistence/dao/DealershipDAO.class
target/classes/persistence/dao/GenericHibernateDAO.class
target/classes/persistence/dao/PlaneDAO.class
target/classes/persistence/dao/TankDAO.class
target/classes/persistence/dao/VehicleDAO.class
target/classes/persistence/factories/DAOFactories.class
target/classes/persistence/factories/DAOFactory.class
target/classes/persistence/factories/HibernateDAOFactory.class
target/classes/persistence/interfaces/IBoatDAO.class
target/classes/persistence/interfaces/ICarDAO.class
target/classes/persistence/interfaces/IDealershipDAO.class
target/classes/persistence/interfaces/IGenericDAO.class
target/classes/persistence/interfaces/IPlaneDAO.class
target/classes/persistence/interfaces/ITankDAO.class
target/classes/persistence/interfaces/IVehicleDAO.class
target/classes/persistence/utils/HibernateSessionManager.class
.idea/jsLibraryMappings.xml
src/main/java/interceptors/HibernateInterceptor.java
src/main/webapp/WEB-INF/tags/template.tag
target/classes/controller/AddVehicleAction.class
target/classes/controller/HomeAction.class
target/classes/domain/DealershipFacade.class
target/classes/interceptors/HibernateInterceptor.class
target/crud/WEB-INF/classes/Starter.class
target/crud/WEB-INF/classes/controller/AddVehicleAction.class
target/crud/WEB-INF/classes/controller/HomeAction.class
target/crud/WEB-INF/classes/domain/DealershipFacade.class
target/crud/WEB-INF/classes/interceptors/HibernateInterceptor.class
target/crud/WEB-INF/classes/persistence/dao/BoatDAO.class
target/crud/WEB-INF/classes/persistence/dao/CarDAO.class
target/crud/WEB-INF/classes/persistence/dao/DealershipDAO.class
target/crud/WEB-INF/classes/persistence/dao/GenericHibernateDAO.class
target/crud/WEB-INF/classes/persistence/dao/PlaneDAO.class
target/crud/WEB-INF/classes/persistence/dao/TankDAO.class
target/crud/WEB-INF/classes/persistence/dao/VehicleDAO.class
target/crud/WEB-INF/classes/persistence/factories/DAOFactories.class
target/crud/WEB-INF/classes/persistence/factories/DAOFactory.class
target/crud/WEB-INF/classes/persistence/factories/HibernateDAOFactory.class
target/crud/WEB-INF/classes/persistence/interfaces/IBoatDAO.class
target/crud/WEB-INF/classes/persistence/interfaces/ICarDAO.class
target/crud/WEB-INF/classes/persistence/interfaces/IDealershipDAO.class
target/crud/WEB-INF/classes/persistence/interfaces/IGenericDAO.class
target/crud/WEB-INF/classes/persistence/interfaces/IPlaneDAO.class
target/crud/WEB-INF/classes/persistence/interfaces/ITankDAO.class
target/crud/WEB-INF/classes/persistence/interfaces/IVehicleDAO.class
target/crud/WEB-INF/classes/persistence/utils/HibernateSessionManager.class
target/crud/WEB-INF/tags/template.tag
target/classes/controller/DeleteVehicleAction.class
target/crud/WEB-INF/classes/controller/DeleteVehicleAction.class
.idea/inspectionProfiles/Project_Default.xml
target/classes/controller/EditVehicleAction.class
target/crud/WEB-INF/classes/controller/AddBoatAction.class
target/crud/WEB-INF/classes/controller/AddCarAction.class
target/crud/WEB-INF/classes/controller/AddPlaneAction.class
target/crud/WEB-INF/classes/controller/AddTankAction.class
target/crud/WEB-INF/classes/controller/EditVehicleAction.class
